<div class='container'>
    <div class='row'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Adio Consultancy Group</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
                    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                </ul>
                <div  style='padding:4px;margin:5px;'><a routerLink="/admin/login" routerLinkActive="active" class='pull-right btn btn-primary'>Admin Area</a></div>
            </div>
        </nav> 
    </div>
</div>
<router-outlet></router-outlet>
