<div class="container">
   <div class="row">
     <div class="col-md-8 col-md-offset-2">
       <div *ngIf='users && users.length > 0'>
            <h2 class="text-primary" style="text-align:center;">These are the applicants that have registered so far</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Cover Letter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.firstName}} &nbsp; {{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>
                        <td>{{user.coverLetter}}</td>
                    </tr>
                </tbody>
            </table>
       </div>
       <div *ngIf='users && users.length <= 0'>
           <div class="jumbotron">
               <h2 class="text-primary" style="text-align:center;">No one has made any applications so far.</h2>
           </div>
       </div>
   </div>
  </div>
</div>